body{
  background-color: blue;
}
.container {
  height: 500px;
  width: 500px;
}
.head {
    height: 30%;
    width: 30%;
    border: solid 10px #000;
    border-radius: 50%;
}
.body {
  height: 30px;
  width: 30px;
  border: solid 10px #000;
  border-radius: 20%;
  padding: 10% 10% 10% 10%;

}
.left-arm {
  height: 10px;
  width: 10px;
  float: right;

}
