body{
  background-color: yellow;
}
.container {
  height: 500px;
  width: 500px;
  color: black;
}
.head {
    height: 30%;
    width: 30%;
    position: relative;
    left: 345px;
    border: solid 10px #000;
    border-radius: 50%;
}
.body {
  height: 30px;
  width: 30px;
  position: relative;
  left: 350px;
  border: solid 10px #000;
  border-radius: 20%;
  padding: 10% 10% 10% 10%;
}
.right-arm {
  height: 30px;
  width: 30px;
  position: relative;
  left: 350px;
  right: 0px;
  top: -297px;
  left: 495px;
  border: solid 10px #000;
  border-radius: 20%;
  padding: 10% 10% 10% 10%;
}
.left-arm {
  height: 30px;
  width: 30px;
  position: relative;
  right: 0px;
  top: -150px;
  left: 200px;
  border: solid 10px #000;
  border-radius: 20%;
  padding: 10% 10% 10% 10%;
}
.left-leg {
  height: 30px;
  width: 30px;
  position: relative;
  left: 270px;
  top: -300px;
  border: solid 10px #000;
  border-radius: 20%;
  padding: 10% 10% 10% 10%;
}
.right-leg {
  height: 30px;
  width: 30px;
  position: relative;
  left: 420px;
  top: -450px;
  bottom: 115px;
  border: solid 10px #000;
  border-radius: 20%;
  padding: 10% 10% 10% 10%;
}
